LAN_SUBNET=172.31.0.0/24
SERVER_CONTAINER_IP=172.31.0.60
IPS_CONTAINER_IP=172.31.0.59
BOT_CONTAINER_IP=172.31.0.58
NORMAL_CONTAINER_IP=172.31.0.57
SERVER_PORT=8080
BOT_ATTACK=SQLI
BOT_SEED=10
BOT_VERBOSE=1
IPS_IFACE=eth0
IPS_MODE=sniffing
