CLIENT_SUBNET=20.0.1.0/24
CLIENT_IP=20.0.1.100

SERVER_SUBNET=10.0.1.0/24
SERVER_IP=10.0.1.100

ROUTER_CLIENT_IP=20.0.1.254
ROUTER_SERVER_IP=10.0.1.254

CLIENT_ROUTE_TO_SERVER_SUBNET=10.0.1.0/24
SERVER_ROUTE_TO_CLIENT_SUBNET=20.0.1.0/24

GOTESTWAF_URL=http://10.0.1.100:80
